{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <ul class="object-tools">
  <li>
    <a href="clear_null_tips/" class="removelink">
      Убрать лишние прогнозы
    </a>
  </li>
</ul>
    <br />
        <br />

    {{ block.super }}
{% endblock %}