{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <title>Title</title>

</head>
<body>
    <div id="app"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>

<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'node_modules/vue/dist/vue.js' %}"></script>
<script src="{% static 'node_modules/axios/dist/axios.js' %}"></script>

<script src="{% static 'src/header.js' %}"></script>
<script src="{% static 'src/tips/tips_area.js' %}"></script>

<script src="{% static 'src/tips/tips_list_page.js' %}"></script>

</body>
</html>